[submodule "libraries/BLE"]
	path = libraries/BLE
	url = https://github.com/nkolban/ESP32_BLE_Arduino.git
[submodule "libraries/AzureIoT"]
	path = libraries/AzureIoT
	url = https://github.com/VSChina/ESP32_AzureIoT_Arduino
[submodule "libraries/Arduino_SNMP"]
	path = libraries/Arduino_SNMP
	url = https://github.com/fusionps/Arduino_SNMP.git
[submodule "libraries/ESP_Configuration"]
	path = libraries/ESP_Configuration
	url = https://github.com/fusionps/ESP_Configuration.git
[submodule "libraries/Ethernet2"]
	path = libraries/Ethernet2
	url = https://github.com/0neblock/Ethernet2.git
	branch = unrelated-stuff
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "libraries/ESPMailer"]
	path = libraries/ESPMailer
	url = https://github.com/fusionps/ESPMailer.git
	branch = sensorpod
